.overlay {
	position: fixed;
	inset: 0;
	background: #000000d4;
	backdrop-filter: blur(8px);
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	pointer-events: none;

	&.open {
		opacity: 1;
		pointer-events: all;
	}
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
	background-color: #ffffffe0;
	border: 2px solid black;
	border-radius: 20px;
	cursor: default;
}

.header__modal {
	h2 {
		font-size: 25px;
		margin-bottom: 8px;
		text-align: center;
	}

	p {
		font-size: 18px;
		text-align: center;
	}
}

.modal__close {
	position: absolute;
	right: -40px;
	top: -40px;
	padding: 6px;
	width: 36px;
	height: 36px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	background-color: #ffffffe0;
	color: #000000;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: red;
	}
}
