.wrapper {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	row-gap: 35px;
	padding-block: 20px;
}

.body {
	font-size: 20px;
	color: var(--color-text-primary);
	transition: all 0.3s ease-in-out;
}
