.figure {
	padding: 20px;
	border: 2px solid var(--color-border-primary);
	border-radius: 20px;
	background-color: var(--color-photo-card-bg);
}

.title {
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
	color: var(--color-text-primary);
}
