.footer {
	padding-block: 20px;
	background-color: var(--color-footer-bg);
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-text-primary);
}
