@keyframes rotateSpinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner__wrapper {
	display: flex;
	justify-content: center;
}

.spinner {
	display: inline-block;
	width: 60px;
	height: 60px;
	animation: rotateSpinner 0.8s infinite linear;
	cursor: default;
	fill: var(--fill-loading-spinner);
}
