.user-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	row-gap: 10px;
	padding: 15px;
	margin-bottom: 25px;
	border: 2px solid var(--color-border-primary);
	border-radius: 20px;
}
