.link-wrapper {
	display: flex;
	justify-content: flex-end;
}

.link {
	align-self: end;
	padding-block: 5px;
	padding-inline: 10px;
	border-radius: 10px;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
	font-size: 16px;
	color: var(--color-comment-toggle-button);
	background-color: var(--color-button-bg-primary);

	&:hover {
		color: var(--color-comment-toggle-button-hover);
	}
}
